html {
  font-size: 62.5%;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

button, input {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 33%;
    font-weight: 700;
  }
}
