@import "./modules/_font.scss";
@import "./modules/_colors.scss";

body {
  margin: 0;
}

main {
  background: $ui-white;
  color: $black;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main.dark {
  background: $black;
  color: $ui-white;
}

h1 {
  font-size: 3.2rem;
}

p {
  font-size: 2rem;
}

.error {
  color: red;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 3rem;
  text-decoration: wavy underline;
  text-decoration-color: red;
  text-underline-offset: .5rem;
  text-decoration-thickness: .1rem;
}

p.display-name {
  font-size: 4.8rem;
  font-weight: 500;
  margin: 3rem 0 1rem 0;
  text-align: center;
}

p.sub-name {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-align: center;
}

span {
  font-weight: 700;
}
